<div class="bg-dark">
  <div class="container pt-2 pb-2">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
  <div class="carousel-item active">
  <div class="row">
  <div class="col-3"><img class="d-block w-100" src="../../assets/cards1.jpg" alt="..." style="height: 300px;"></div>
  <div class="col-3"><img class="d-block w-100" src="../../assets/cards2.jpg" alt="..." style="height: 300px;"></div>
  <div class="col-3"><img class="d-block w-100" src="../../assets/cards3.jpg" alt="..." style="height: 300px;"></div>
  <div class="col-3"><img class="d-block w-100" src="../../assets/cards4.jpg" alt="..." style="height: 300px;"></div>
  </div>
  </div>
  <div class="carousel-item">
  <div class="row">
  <div class="col-3"><img class="d-block w-100" src="../../assets/cards5.jpg" alt="..." style="height: 300px;"></div>
  <div class="col-3"><img class="d-block w-100" src="../../assets/cards6.jpg" alt="..." style="height: 300px;"></div>
  <div class="col-3"><img class="d-block w-100" src="../../assets/cards7.jpg" alt="..." style="height: 300px;"></div>
  <div class="col-3"><img class="d-block w-100" src="../../assets/cards8.jpg" alt="..." style="height: 300px;"></div>
  </div>
  </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
  </button>
  </div>
  </div>
  </div>
  
  