<div class="container mt-5 mb-5" style="background-color: bisque;">
    <div class="row mt-5 mb-5">
        <div class="col-sm-6">

            <ul class="py-5" style="list-style-type: none;">
                <li class="nav-item">
                  <a class="nav-link text-dark" ><span class="highlight" style="font-family: 'Dancing Script', cursive; font-size:30px;">Please Checkout to place the order<i class='fa fa-arrow-circle-right' style='font-size:36px'></i></span></a>
                </li>  
             </ul>

        </div>
        <div class="col-sm-6 mt-4">
            <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group"> 
                            <label for="chname">Cardholder Name</label>
                            <input required   type="text" class="form-control" id="chname"  name="chname" ngModel #chname="ngModel">
                            <div class="text-danger" *ngIf="isSubmitted||chname.touched && (chname.dirty || chname.invalid)">
                                <div *ngIf="chname.errors?.required">Name is Required</div>
                            </div>
                        </div>
                        <div class="form-group"> 
                            <label for="cnum">Card Number</label>
                            <input required  maxlength="12" type="text" class="form-control" id="cnum"  name="cnum" ngModel #cnum="ngModel">
                            <div class="text-danger" *ngIf="isSubmitted||cnum.touched && (cnum.dirty || cnum.invalid)">
                                <div *ngIf="cnum.errors?.required">
                                    Card Number is Required
                                </div>
                            </div>
                            <div class="text-danger" *ngIf="isSubmitted||cnum.touched && (cnum.dirty || cnum.invalid)">
                                <div *ngIf="cnum.errors?.maxlength">
                                   Maximum card lenght is 12 digits
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">End Date
                               <div class="row">
                                   <div class="col-sm-6">
                                    <div class="form-group"> 
                                        <label for="mm"></label>
                                        <input required  maxlength="2" minlength="2" type="number" class="form-control" id="mm" placeholder="mm" name="mm" ngModel #mm="ngModel">
                                        <div class="text-danger" *ngIf="isSubmitted||mm.touched && (mm.dirty || mm.invalid)">
                                            <div *ngIf="mm.errors?.required">month is Required</div>
                                            <div *ngIf="mm.errors?.maxlength">2 digits are Required</div>
                                            <div *ngIf="mm.errors?.minlength">2 digits are Required</div>
                                        </div>
                                    </div>
                                   </div>
                                   <div class="col-sm-6">
                                    <div class="form-group"> 
                                        <label for="yyyy"></label>
                                        <input required  maxlength="4" minlength="4" type="number" class="form-control w-4" id="yyyy" placeholder="yyyy" name="yyyy" ngModel #yyyy="ngModel">
                                        <div class="text-danger" *ngIf="isSubmitted||yyyy.touched && (yyyy.dirty || yyyy.invalid)">
                                            <div *ngIf="yyyy.errors?.required">year is Required</div>
                                            <div *ngIf="yyyy.errors?.maxlength">2 digits are Required</div>
                                            <div *ngIf="yyyy.errors?.minlength">2 digits are Required</div>
                                        </div>
                                    </div>
                                   </div>
                               </div>
                            </div>
                            <div class="col-sm-6">CVV
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group"> 
                                            <label for="cvv"></label>
                                            <input required  maxlength="3" minlength="3" type="password" class="form-control" id="cvv" placeholder="CVV" name="cvv" ngModel #cvv="ngModel">
                                            <div class="text-danger" *ngIf="isSubmitted||cvv.touched && (cvv.dirty || cvv.invalid)">
                                                <div *ngIf="cvv.errors?.required">CVV is Required</div>
                                                <div *ngIf="cvv.errors?.maxlength">3 igits are Required</div>
                                                <div *ngIf="cvv.errors?.minlength">3 digits are Required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                       </div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">

                    </div>
              <div class="col-sm-6">
                              <button class="btn mt-5 mb-5" style="background-color:rgb(6, 138, 131);" type="submit" >Pay Now and place order</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
