
* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("../../assets/bgimage3.jpg");

  /* Control the height of the image */
  height: 700px;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.btn:hover {
  opacity: 1;
}


.form {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-bottom {
0% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
100% {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
}
@keyframes slide-bottom {
0% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
100% {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
}

#name,#pw{
  opacity:0.7;
}

