<app-carousel></app-carousel>
    <div style=" background-color: honeydew;" class="row">
      <div class="col-sm-6"><a style="font-family: Lobster; font-size: 40px" class="navbar-brand nav-link text-dark text-center">Welcome ,{{username}}</a></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <!--<div class="input-icons">
        <i class="fa fa-search" aria-hidden="true"></i> <input type="text" placeholder="Search the food item.." class="form-control mt-2 col-12 mx-auto border border-dark" style="width:300px; height: 40px;" [(ngModel)]="searchText">
      </div>-->
      <div class="wrap">
        <div class="search">
           <input type="text" class="searchTerm" placeholder="Search food item.." [(ngModel)]="searchText">
           <button type="submit" class="searchButton">
             <i class="fa fa-search"></i>
          </button>
        </div>
     </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-sm-2"  style="background-color : #021e2c; height: 500px;">
                    <nav class="navbar navbar-expand-md navbar-light">
                    <ul class="navbar-nav row">
                        <a class="btn text-white col-12 mt-1" (click)="veg()"><i class="fa fa-seedling" style="color: blanchedalmond;"></i>Vegetarian</a>
                        <a class="btn text-white col-12" (click)="nonveg()"><i class="fa fa-seedling" style="color: blanchedalmond;"></i>Non-Vegetarian</a>
                        <a class="btn text-white col-12" (click)="icecream()"><i class="fa fa-pie"></i>Desserts</a>
                        <a class="btn text-white col-12" (click)="bewerages()"><i class="fa fa-pie"></i>Beverages</a>

                    </ul>
                    </nav>
                </div>
     
        <div class="col-sm-10">
          <div class="container mt-3">
            <div class="row">
                <div class="col-sm-4" *ngFor = "let fooditem of foodArray | filter:searchText">
                    <div *ngIf="fooditem.status">
                    <div class="card mb-3 border-info">
                        <div class="card-body text-center">
                            <img [src]="fooditem.photo" alt = "photo" height="220px"  class="card-img-top">
                            <div class="card-title my-2" style="font-family: Lobster; font-size: 20px;">{{fooditem.fooditemname}}</div>
                            <div class="card-text my-2" style="font-family: 'Dancing Script', cursive; font-size: larger;">{{fooditem.restname}}</div>
                            <div class="card-text  fw-bold my-2" style="font-family: 'Dancing Script', cursive; font-size: larger;">Cost: &#8377;{{fooditem.Price}}</div>
                            <div class="row">
                              <div class="col-sm-8"></div>
                              <div class="col-sm-4"><button class="btn m-2" style="background-color: rgb(53, 221, 151);" (click)="addtocart(fooditem)">Add</button>
                              </div>
                            </div>
                             </div>
                      </div>
                </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    