
/* Register */


* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("../../assets/bgimage2.jpeg");

  /* Control the height of the image */
  height: 800px;
  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
   
.btn:hover {
  opacity: 1;
}



.form {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}
/*
#em,#un,#pw,#num{
  opacity:0.3;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ 
  color: #000;
  opacity:1;
}*/