        <div class="bg-img">
      <div class="container-fluid">
<div class="row">
   <div class="col-sm-6"></div>
    <div  class="col-sm-6">
        <form action="/action_page.php" #formRef='ngForm' (ngSubmit)="formRef.form.valid && onSubmit(formRef.value)" class="form mx-4 " >
            
                <h2  style="font-family: 'Dancing Script', cursive; font-size:40px;" class=" text-center text-white mb-3">Register</h2>
           
           <!-- email-->
            <div class="form-floating mb-2">
                  
                  <input type="email" id="em" class="form-control" name="email" placeholder="Enter Mail " required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #ref1="ngModel" ngModel autocomplete="off">
                  <label for="em" class="text-dark" >Email</label>

            </div>
            <!--email validation-->
           <div class="text-danger" *ngIf="(ref1.touched || formRef.submitted) && (ref1.errors?.required)">
                *Enter your email.
            </div>
            <div class="text-danger" *ngIf="(ref1.touched || formRef.submitted) && (ref1.errors?.pattern)">
                *Give an email like example:xyz3@gmail.com
            </div>
            <!--username-->
           <div class="form-floating mb-2">
           
          
            <input type="text" id="un" class="form-control" name="username" placeholder="User Name" required #ref2="ngModel" ngModel autocomplete="off">
            <label for="un" class=" text-dark" >User Name</label>
        </div>
       
       <!-- user name validation-->
        <div class="text-danger" *ngIf="(ref2.touched || formRef.submitted) && (ref2.errors?.required)">
            *Enter your name
        </div>
       <!-- password-->
      

        <div class="form-floating mb-2">
         
          <input type="password" id="pw" class="form-control" name="password" placeholder="Create password " required pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).*$' minlength="8" #ref3="ngModel" ngModel autocomplete="off">
          <label for="pw" class="text-dark" >Password</label>
      </div>
        <!-- password validations-->
        <div class="text-danger" *ngIf="(ref3.touched || formRef.submitted) && (ref3.errors?.required)">
            *Enter your password
        </div>
        <div class="text-danger" *ngIf="(ref3.touched || formRef.submitted) && (ref3.errors?.pattern)">
           *Password must include one capital and one digit.
        </div>
        <div class="text-danger" *ngIf="(ref3.touched || formRef.submitted) && (ref3.errors?.minlength)">
           *Enter minimum of 8 characters 
        </div>
        
    
      
        <!--mobile number-->
       <div class="form-floating mb-2">
             <input type="text" id="num" class="form-control" name="mobilenumber" placeholder="Mobile Number" required maxlength="10" minlength="10" #ref4="ngModel" ngModel autocomplete="off">

             <label for="num" class="form-label text-dark" style="color: rgb(19, 17, 18);">Mobile Number</label>
           
        </div>
        <!--mobile number validation-->
        <div class="text-danger" *ngIf="(ref4.touched || formRef.submitted) && (ref4.errors?.required)">
            *Enter your mobilenumber
        </div>
        <div class="text-danger" *ngIf="(ref4.touched || formRef.submitted) && (ref4.errors?.maxlength)">
            *Mobile number cannot be more than 10 digits.
        </div>
        <div class="text-danger" *ngIf="(ref4.touched || formRef.submitted) && (ref4.errors?.minlength)">
            *Mobile number should be atleast 10 digits.
        </div>
        
        <div class="form-floating mb-2">
          
            <button  type="submit" class="btn col-12 text-dark py-2 fs-4"  style="background-color: #67f5b5; font-weight: x-large; font-family: 'Dancing Script', cursive;" (ngSubmit)="onSubmit(formRef)">Register</button>
             
          </div>
            
            <div class="row">
  
              <div class="col">
                <p class="text-dark text-center text-white">Already have an account? Login into your account....</p>
            <div class="text-center">
                <button type="button" class="btn btn-warning mb-3 text-white" (click)="login()">Login here!!</button>
            </div>
         </div>

             
            
            </div> 
    
        </form>
         
    </div>
    
   
</div>
</div>
</div>

  
  





